<nav class="nav-border">
  <div class="nav-wrapper">
  <div class="row">
    <div class="col s2">
      <div id="devcamp_logo">
        <%= image_tag("devcamplogo.svg", :alt => "devcamp") %>
      </div>
    </div>
    <div class="col s8">
    </div>
    <div class="col s2">
      <div class="login-logout">
        <% if current_user.is_a?(User)%>
          <%= link_to "Admin Dashboard", admin_users_path if logged_in?(:admin) %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Login', new_user_session_path %>  
        <% end %>
      </div>
    </div>
  </div>
  </div>
</nav>
