<nav class="nav-border">
  <div class="nav-wrapper">
  <div class="row">
    <div class="col s2">
      <div id="devcamp_logo">
        <%= image_tag("devcamplogo.svg", :alt => "devcamp") %>
      </div>
    </div>
  </div>
  </div>
</nav>
