<div class="container">
  <nav class="white">
    <div class="nav-wrapper">
      <form action="" method="get">
        <div class="input-field col s6 s12">
          <i class="black-text material-icons prefix">search</i>
          <input type="text" placeholder="I'm looking for a programmer in..." id="address" class="autocomplete red-text search-programmer"
            name="location" value="" required>
        </div>
      </form>
    </div>
  </nav>
</div>

<div class="row">
  <div class="col s1">
  </div>
  <div class="col s10">
    <% @users.each do |user| %>
      <div class="col s12 m3">
        <div class="card">
          <div class="card-content">
            <div class>
              Skill1 Skill2
            </div>
            <div class="card-action">
              <%= user.email %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  </div>
  <div class="col s1">
  </div>
</div>