// NAV

.nav-border {
  background-color: #f5f5f5;
}

.nav-border a {
  color: black;
}

#devcamp_logo img {
margin: 10px;
width: 152px;
height: 43px;
}




// BODY

.card-content { 
  text-align: center;
}

.container {
  padding: 45px;
}

